.selectedList_cont {
    background-color: $white;
    list-style-type: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    @include flex-center;

}

.current_weather {
    margin-top: 30px;
    max-width: 500px;
    list-style-type: none;
    display: grid !important;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-template-rows: repeat(auto-fit, 40px);
    font-size: 1rem;

    .description {
        font-weight: 600;
    }


    li {
        margin: 10px 0;
        font-size: 1.2rem;

    }

    .btn {
        font-weight: 400;
    }
}

.future_weather_container {
    @include flex-center;
    margin-top: 50px;

    .future_weather_table,
    th {
        background-color: $white;
    }

    .btn {
        font-weight: 400;
    }
}

@media screen and (max-width: 650px) {
    .future_weather_table {
        padding: 0px;

        th,
        td {
            padding: 2px;
            line-height: 1;
        }

        th {
            font-size: 0.8rem;
        }

        td {
            font-size: 0.8rem;
        }
    }
}

@media screen and (max-width: 580px) {
    .current_weather {
        display: flex !important;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0;
        margin: 0;

        li {
            margin: 5px 0;
            padding: 0;
        }
    }
}

@media screen and (max-width: 455px) {
    .future_weather_table {
        th {
            font-weight: 400;
        }
    }
}