.list_container {
    list-style-type: none;
    padding:0;
}
.location {
    margin:20px 0;
    background-color: rgb(150, 146, 146);
    width:300px;
    padding:10px;
    color:#fff;
}
.location:hover {
    cursor: pointer;
    opacity: 0.9;
}